.form-container {
	margin-top: 100px;
	display: flex;
	justify-content: center;
	width: 100%;
	position: relative;
	z-index: 1;
}

@media (min-width: 1200px) {
	.form-container {
		margin-top: 150px;
	}
}

.search-form {
	margin-bottom: 40px;
}

.search-input {
	height: 24px;
	border: none;
	border-radius: 6px;
	outline: none;
	width: 200px;
	padding: 0 15px;
	background-color: white;
	position: relative;
	filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
	margin-right: 3px;
}

.search-button {
	width: 50px;
	height: 24px;
	border: none;
	border-radius: 10px;
	background-color: #f0f0f07b;
	cursor: pointer;
	margin-left: -1px;
	font-size: 12px;
	padding-left: 9px;
	position: relative;
	font-weight: bold;
}

.search-button:hover {
	background-color: #e0e0e0;
}
