.app-container {
	width: 100vw;
	height: auto;
}

.app-background {
	background: url('https://images7.alphacoders.com/133/thumb-1920-1335145.jpg'),
		linear-gradient(
			rgba(255, 255, 255, 0),
			rgba(0, 0, 0, 0.577),
			rgb(0, 0, 0) 85%
		);
	background-size: cover;
	background-blend-mode: overlay;
	border-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	min-height: 600px;
}

.app-header {
	display: flex;
	justify-content: start;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
}

.logo-container {
	display: grid;
	height: 160px;
	grid-template-rows: 60% 40%;
	.logo-img {
		width: 400px;
		grid-row: 1 / 2;
		filter: drop-shadow(0 0 0.75rem #ffffff);
	}

	.logo-subtitle {
		font-size: 1.5rem;
		text-align: center;
		width: 90px;
		grid-row: 2 / 3;
		color: #000000;
		justify-self: end;
		background-color: rgb(255, 255, 255);
		rotate: -10deg;
		height: 35px;
	}
}
.main-container {
	width: 100vw;
	background-color: rgb(1, 0, 0);
	display: flex;
	justify-content: center;
	margin-top: -1px;
}

.cards-container {
	height: auto;
	width: 90vw;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-column-gap: 12px;
	grid-row-gap: 50px;
}
